img{
    min-width: 100%;
    min-height: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index: -1;
}

footer {        
    height: 7%;    
    width:100%;
    margin:0;    
    text-align: center;
    color: white;
    background-color: rgb(54, 53, 53);
}

footer p{
    display: inline-block;
}
